apiVersion: v1
kind: Secret
data:
  POSTGRES_DATABASE: "{{ sso_database_name | b64encode }}"
  POSTGRES_EXTERNAL_ADDRESS: "{{ sso_database_external_host | b64encode }}"
  POSTGRES_EXTERNAL_PORT: "{{ "5432" | string | b64encode }}"
  POSTGRES_HOST: "{{ sso_database_name | b64encode }}"
  POSTGRES_PASSWORD: "{{ sso_database_user_password }}"
  POSTGRES_SUPERUSER: "{{ "true" | string | b64encode }}"
  POSTGRES_USERNAME: "{{ sso_database_username | b64encode }}"
metadata:
  labels:
    app: keycloak
  name: keycloak-db-secret
type: Opaque